{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="page-container">
			<div class="container-fluid content-container">

				{% block header %}
					<header class="header row" >
						<div class="col-md-3 site-description">
							<h2 class="hdr-name" role="banner">
								<a href="{{ options.contact_me_page }}" rel="home">
									<span class="description">{{ options.name }}</span>
									<small>{{ options.city }} &bull; {{ options.state }}</small>
								</a>
							</h2>
						</div>
						<div class="col-md-3 site-name">
							<h2 class="hdr-name" role="banner">
								<a class="hdr-logo-link description" href="/" rel="home">{{ site.name }}</a>
								<small class="domain">{{ site.description }}</small>
							</h2>
						</div>
					</header>
				{% endblock %}

				<div class="row sidebar portfolio-container">
					<div class="col-md-9">
						<div class="row">
							{% block content %}{% endblock %}
						</div>
					</div>
					<div class="col-md-3">
						<div class="row">
							{% block projects_block %}{% endblock %}
						</div>
						<div class="row">
							{% block links_block %}{% endblock %}
						</div>
					</div>
				</div>

				{% block footer %}
					<footer id="footer">
						{% include 'footer.twig' %}
					</footer>
					{{ function( 'wp_footer' ) }}
				{% endblock %}
			</div>
		</div>


		<div class="portfolio-viewer all-images">
			{% block portfolio %}{% endblock %}
		</div>
		<div class="portfolio-viewer single-image"></div>
	</body>
</html>
